Pinterest-Generated-Client@git+https://github.com/pinterest/pinterest-python-generated-api-client.git@f8ee0afb232532f259b7bf8e4f7f5b1b52fe305a
python-dateutil
six>=1.16.0
urllib3>=1.26.12
python-dotenv>=0.20.0